@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
  /*------- Box */
  --box:0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
  font-family: helvetica;
  color: var(--black-color);
}

p{
  font-size: var(--normal);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space);
  min-height: 60px;
  background-color: var(--green-color);
  box-shadow: 6px 6px 5px 0px var(--green-color);
}

nav a{
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--normal);
}

nav a:hover{
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  text-align: center;
  padding: 15%;
}

/* -------------------------------------------  PRODUCTOS */

.products{
  background-image: url("../images/curve.png");
  padding: 15%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;
  justify-content: center;
}

.product{
  padding: 20px;
  margin-top: -226px;
}

.image-product{
  text-align: center;
}

.content{
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.main_btn{
  padding: var(--space);
  background-color: var(--green-color);
  width: 100%;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white-color);
}
.main_btn:hover{
  background-color: #63a426;
}
/* MOST ITEMS */
.most_items {
  padding: var(--space);
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #f4f4f4;
}

.most_item {
  padding: 0 20px;
}

.image_most {
  text-align: center;
  height: 140px;
}

.most_item h1 {
  text-align: center;
}

.most_item p {
  max-width: 200px;
}
/* MENTIONS */

.mention_title {
  text-align: center;
}

.mentions {
  padding: var(--space);
  display: flex;
  justify-content: center;
}

.mention {
  max-width: 235px;
  margin: 0 10px;
  border: 1px solid #ededed;
  box-shadow: 6px 6px 5px 0px #ededed;
}

.image_mention img {
  width: 235px;
}

.mention h1 {
  text-align: left;
  padding: 0 10px;
}

.mention p {
  padding: 0 10px;
} 

/* VENTA */

.modulo_pago{
  background-color:var(--white-color);
  box-shadow: var(--box);
  padding:var(--space);
  }
  
  .modulo_pago_images{
    max-width: 150px;
    text-align: center;
    width: 100%;
    margin:auto;
  }

/* FOOTER */
footer{
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}

.option a {
  color: var(--white-color);
  text-decoration: none;
}